<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VTA</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header>
      <div class="logo">
        <li><a href="index.html">VTA</a></li>
      </div>
      <div class="menu">
        <li><a href="category.html">SẢN PHẨM</a></li>
        <li><a href="sale.html">SALE</a></li>
      </div>
      <div class="other">
        <li>
          <input placeholder="Tìm Kiếm" type="text" /><i
            class="fas fa-search"
          ></i>
        </li>
        <li><a class="fa fa-user" href="loginRegistration.html"></a></li>
        <li><a class="fa fa-shopping-bag" href=""></a></li>
      </div>
    </header>
    <!-- --------=--display---------------->

    <section class="cart">
      <!-- thanh trạng thái giỏ hàng -->
      <div class="container">
        <div class="cart-top-wrap">
          <div class="cart-top">
            <div class="cart-top-cart cart-top-item">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="cart-top-adress cart-top-item">
              <i class="fas fa-map-marked-alt"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- phần thông tin sản phẩm thanh toán -->
        <div class="cart-conten row">
          <div class="cart-conten-left">
            <table>
              <tr>
                <th>Sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Màu</th>
                <th>Size</th>
                <th>SL</th>
                <th>Thành tiền</th>
                <th>Xóa</th>
              </tr>
              <!-- thông tin sản phẩm -->
              <tr>
                <td><img src="../images/imgbig.jpg" alt="" /></td>
                <td>
                  <p>Quần Tây Nam Nano Ống Đứng Thời Trang</p>
                </td>
                <td>Xám ghi</td>
                <td>
                  <p>L</p>
                </td>
                <td><input type="number" value="1" min="1" /></td>
                <td>
                  <p>489.000 <sup>đ</sup></p>
                </td>
                <td><span>X</span></td>
              </tr>
              <tr>
                <td><img src="../images/imgbig.jpg" alt="" /></td>
                <td>
                  <p>Quần Tây Nam Nano Ống Đứng Thời Trang</p>
                </td>
                <td>Xám ghi</td>
                <td>
                  <p>L</p>
                </td>
                <td><input type="number" value="1" min="1" /></td>
                <td>
                  <p>489.000 <sup>đ</sup></p>
                </td>
                <td><span>X</span></td>
              </tr>
            </table>
          </div>
          <!-- tổng tiền neus thanh toán và có thể thanh toán hay tiếp tục mua sắm -->
          <div class="cart-conten-right">
            <table>
              <tr>
                <th colspan="2">Tổng tiền giỏ hàng</th>
              </tr>
              <tr>
                <td>Tổng số sản phẩm</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Tổng tiền hàng</td>
                <td>
                  <p>489.000 <sup>đ</sup></p>
                </td>
              </tr>
              <tr>
                <td>Tạm tính</td>
                <td>
                  <p style="color: black; font-weight: bold">
                    976.000<sup>đ</sup>
                  </p>
                </td>
              </tr>
            </table>
            <div class="cart-conten-right-botton">
              <a href="./category.html">
                <button>Tiếp tục mua sắm</button>
              </a>
              <a href="./payment.html">
                <button>Đặt hàng</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ------------below-------------- -->
    <div class="indexbottom">
      <div class="footer-top">
        <li>
          <a
            href="https://www.facebook.com/tuanbie201/"
            class="fab fa-facebook-f"
          ></a>
          <a
            href="https://www.youtube.com/channel/UCpeyO_Hso1x2VtFqCfu_xqw"
            class="fab fa-youtube"
          ></a>
          <hr />
        </li>
      </div>
      <div class="footer-center">
        <p>
          Thời trang VTA<sup>&#174;</sup><br />
          Địa chỉ: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM, Việt Nam<br />
          Số điện thoại: <b>0373272294</b>
        </p>
      </div>
    </div>
  </body>
  <script src="../js/sliderdotJS.js"></script>
</html>
