<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <li><a href="index.html">VTA</a></li>
      </div>
      <div class="menu">
        <div class="coler">
          <li><a href="category.html">SẢN PHẨM</a></li>
        </div>
        <li><a href="sale.html">SALE</a></li>
      </div>

      <div class="other">
        <li>
          <input placeholder="Tìm Kiếm" type="text" /><i
            class="fas fa-search"
          ></i>
        </li>
        <li><a class="fa fa-paw" href=""></a></li>
        <li><a class="fa fa-user" href=""></a></li>
        <li><a class="fa fa-shopping-bag" href=""></a></li>
      </div>
    </header>
    <!-- ------------category-------------- -->
    <section class="product">
      <div class="container">
        <div class="product-top row">
          <p>Trang chủ</p>
          <span>&#8594; </span>
          <p>Quần nam</p>
          <span>&#8594;</span>
          <p>Quần tây</p>
        </div>
        <div class="product-conten">
          <div class="product-conten-left row">
            <div class="product-conten-left-big-img">
              <img
                src="https://bizweb.sapocdn.net/100/438/408/products/qam4005-gxm-smm4065-kxa-4.jpg?v=1641611350390"
                alt=""
              />
            </div>
            <div class="product-conten-left-small-img">
              <img
                src="https://bizweb.sapocdn.net/100/438/408/products/qam4005-gxm-1.jpg?v=1641611350390"
                alt=""
              />
              <img
                src="https://bizweb.sapocdn.net/100/438/408/products/qam4005-gxm-5.jpg?v=1641611350390"
                alt=""
              />
              <img
                src="https://bizweb.sapocdn.net/100/438/408/products/qam4005-gxm-6.jpg?v=1641611350390"
                alt=""
              />
              <img
                src="https://bizweb.sapocdn.net/100/438/408/products/qam4005-gxm-7.jpg?v=1641611350390"
                alt=""
              />
            </div>
          </div>
          <div class="product-conten-right">
            <div class="product-conten-right-product-name">
              <h1>Quần Tây Nam Nano Ống Đứng Thời Trang</h1>
            </div>
            <div class="product-conten-right-product-price">
              <p>500.000 <sup>đ</sup></p>
            </div>
            <div class="product-conten-right-product-color">
              <p>
                <span style="font-weight: bold">Màu sắc</span>:Ghi xám
                <span style="color: bisque"></span>
              </p>
              <div class="product-conten-right-product-color-img">
                <img src="" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ------------bottom-------------- -->
    <section id="slider"></section>
    <div class="indexbottom">
      <div class="footer-top">
        <li>
          <a
            href="https://www.facebook.com/tuanbie201/"
            class="fab fa-facebook-f"
          ></a>
          <a href="" class="fab fa-youtube"></a>
          <a href="" class="fab fa-instagram"></a>
          <hr />
        </li>
      </div>
      <div class="footer-center">
        <p>
          Thời trang VTA<sup>&#174;</sup> <br />
          Địa chỉ: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM, Việt Nam<br />
          Số điện thoại: <b>0373272294</b>
        </p>
      </div>
    </div>
    <script src="./js/categoryJS.js"></script>
  </body>
</html>
