<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VTA</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/MyWeb/css/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <li><a href="index.html">VTA</a></li>
      </div>
      <div class="menu">
        <div class="coler">
          <li><a href="category.html">SẢN PHẨM</a></li>
        </div>
        <li><a href="sale.html">SALE</a></li>
      </div>

      <div class="other">
        <li>
          <input placeholder="Tìm Kiếm" type="text" /><i
            class="fas fa-search"
          ></i>
        </li>
        <li><a class="fa fa-user" href="./loginRegistration.html"></a></li>
        <li><a class="fa fa-shopping-bag" href="./cart.html"></a></li>
      </div>
    </header>
    <!-- ------------category-------------- -->
    <section class="product">
      <div class="container">
        <div class="product-top row">
          <p>Trang chủ</p>
          <span>&#8594; </span>
          <p>Quần nam</p>
          <span>&#8594;</span>
          <p>Quần tây</p>
        </div>
        <!-- mục hình ảnh của product -->
        <div class="product-conten">
          <div class="product-conten-left row">
            <div class="product-conten-left-big-img">
              <img src="/MyWeb/images/imgbig.jpg" alt="" />
            </div>
            <div class="product-conten-left-small-img">
              <img src="/MyWeb/images/imgsm1.jpg" alt="" />
              <img src="/MyWeb/images/imgsm2.jpg" alt="" />
              <img src="/MyWeb/images/imgsm3.jpg" alt="" />
            </div>
          </div>
          <!-- mục thông tin cảu product -->
          <div class="product-conten-right">
            <div class="product-conten-right-product-name">
              <h1>Quần Tây Nam Nano Ống Đứng Thời Trang</h1>
            </div>
            <div class="product-conten-right-product-price">
              <p>500.000 <sup>đ</sup></p>
            </div>
            <div class="product-conten-right-product-color">
              <p>
                <span style="font-weight: bold">Màu sắc</span>:Ghi xám
                <span style="color: bisque"></span>
              </p>
              <img src="/MyWeb/images/ghi xam.jpg" alt="" />
            </div>
            <div class="product-conten-right-produc-size">
              <p style="font-weight: bold">Size</p>
              <div class="size">
                <span>S</span>
                <span>M</span>
                <span>L</span>
                <span>XL</span>
                <span>XXL</span>
              </div>
            </div>
            <div class="wrapper">
              <span class="minus">-</span>
              <span class="num">01</span>
              <span class="plus">+</span>
            </div>
            <div class="product-conten-right-produc-button">
              <button>
                <i class="fas fa-shopping-cart"></i>
                <p>Thêm vào giỏ hàng</p>
              </button>
            </div>
            <div class="product-conten-right-produc-icon">
              <div class="product-conten-right-produc-icon-item">
                <a href="">
                  <i class="far fa-comment"></i>
                  <p>Chat</p>
                </a>
              </div>
              <div class="product-conten-right-produc-icon-item">
                <a href="">
                  <i class="far fa-envelope"></i>
                  <p>Mail</p>
                </a>
              </div>
            </div>
            <!-- mục mô tả của product -->
            <div class="product-conten-right-buttom">
              <div class="product-conten-right-buttom-top">&#8744;</div>
              <div class="product-conten-right-buttom-conten">
                <div class="product-conten-right-buttom-conten-title">
                  <p>Mô tả</p>
                </div>
                <div class="product-conten-right-buttom-conten">
                  <div class="product-conten-right-buttom-conten-chitiet">
                    - Chất liệu: Polyester công nghệ nano 100% Polyester <br />
                    - Vải sử dụng công nghệ Nano xoắn nhiều sợi li ti thành một
                    sợi. <br />
                    - Nano thuộc nhóm vải công nghệ mới,là bước đột phá trong
                    ngành vải sợi thế giới <br />
                    - Vải dệt đôi 2 mặt là kiểu dệt khá phức tạp giúp định hình
                    form dáng sản phẩm sang trọng hơn. <br />
                    - Quần âu nano với chất liệu sử dụng công nghệ kiểu dáng
                    basic nhẹ nhàng đem lại sự tự tin thoải mái <br />
                    - YODY - Look good. Feel good
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ------------bottom-------------- -->
    <section id="slider"></section>
    <div class="indexbottom">
      <div class="footer-top">
        <li>
          <a
            href="https://www.facebook.com/tuanbie201/"
            class="fab fa-facebook-f"
          ></a>
          <a
            href="https://www.youtube.com/channel/UCpeyO_Hso1x2VtFqCfu_xqw"
            class="fab fa-youtube"
          ></a>
          <hr />
        </li>
      </div>
      <div class="footer-center">
        <p>
          Thời trang VTA<sup>&#174;</sup> <br />
          Địa chỉ: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM, Việt Nam<br />
          Số điện thoại: <b>0373272294</b>
        </p>
      </div>
    </div>
    <script>
      // tạo active cho thanh cuộn nội dung mo tả
      const botton = document.querySelector(".product-conten-right-buttom-top");
      if (botton) {
        botton.addEventListener("click", function () {
          document
            .querySelector(".product-conten-right-buttom-conten")
            .classList.toggle("activeb");
        });
      }
      // tạo active cho tăng giảm số lượng
      const plus = document.querySelector(".plus"),
        minus = document.querySelector(".minus"),
        num = document.querySelector(".num");

      let a = 1;

      plus.addEventListener("click", () => {
        a++;
        a = a < 10 ? "0" + a : a;
        num.innerText = a;
      });

      minus.addEventListener("click", () => {
        if (a > 1) {
          a--;
          a = a < 10 ? "0" + a : a;
          num.innerText = a;
        }
      });
    </script>
  </body>
</html>
